// app global css
@font-face {
  font-family: karla-regular;
  src: url(./fonts/Karla-Regular.ttf);
}

@font-face{
    font-family: rubik-regular;
  src: url(./fonts/Rubik-Regular.ttf);
  }

.text-karla{
  font-family: 'karla-regular'
}

.text-rubik{
   font-family: 'rubik-regular'
  }